@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #0891b2;
  --brand-dark: #155e75;
  --brand-light: #ecfeff;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900 antialiased;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* Hide scrollbar for mobile menus */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
